*{margin: 0 auto; padding: 0;}
body{
    background-color: rgb(204, 237, 243);
    display: flex;
    align-items: center;
    justify-content: center;
}
.center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 30rem;
    height: 800px;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 0.7rem;
    box-shadow: 0px 10px 10px 0 rgb(0 0 0 / 15%);
}
.allbutt{
    display: flex;
    justify-content: space-between;
}
.idpwd{
    width: calc(50% - 1rem);
}
input[type=text], input[type=password]{
    border-bottom: 2px solid #929191;
    font-size: 21px;
    color: #666;
    vertical-align: middle;
}
input[type="password"] {
    margin-top: 10px;
}
input {
    width: 100%;
    padding: 1.3rem 1.5rem 1.4rem 1.5rem;
    border: 0;
    background-color: #fff;
    font-weight: 200;
    font-family:'Tiro Tamil', serif;
}
button{
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    border: 1px;
}
.submitB{
    font-family:'Tiro Tamil', serif;
    display: block;
    width: 29%;
    background: rgb(31, 144, 144);
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    border-radius: 0.5rem;
    cursor: pointer;
}
.logo{
    font-family:'Tiro Tamil', serif;
    text-align: center;
    padding-top: 130px;
    margin-bottom: 40px;
}
.title{
    font-size: 60px;
    color: #666;
}
.mbti{
    font-size: 100px;
    font-weight: 400;
    color: black;
}